body {
    
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: 80vw;
    height: 120vh;
}

#grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows:repeat(3, 5rem);   
    
}

.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10%;
}